/* _reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

input, select {
  border: none;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #07203F;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}

section {
  padding: 30px 0;
}

@media screen and (width > 1023px) {
  section {
    padding: 50px 0;
  }
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, #07203F, #fff, #000, #eaded4);
  background-size: 400% 400%;
  animation: move 6s ease infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
@media screen and (width > 1023px) {
  .logo {
    font-size: 2.4rem;
  }
}
.nav {
  width: 100%;
  position: absolute;
  left: -100%;
  top: calc(100% + 1px);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.nav.active {
  left: 0;
  transition: left 0.3s ease;
}
.nav__link {
  width: 100%;
  font-size: 2.5rem;
  padding: 2rem 0;
  text-align: center;
  border-bottom: 1px solid #07203F;
}

@media screen and (width > 1023px) {
  .nav {
    width: auto;
    position: static;
    flex-direction: row;
    gap: 3rem;
  }
  .nav__link {
    width: auto;
    font-size: 3rem;
    border-bottom: none;
    padding: 1rem 2rem;
    transition: color 0.4s ease, background-color 0.4s ease;
  }
  .nav__link:hover {
    outline: 1px solid #07203F;
    border-radius: 2rem;
    background-color: #07203F;
    color: #fff;
  }
  .nav__link_qa {
    outline: 1px solid #07203F;
    border-radius: 2rem;
    transition: color 0.4s ease, background-color 0.4s ease;
  }
  .nav__link_qa:hover {
    background-color: #07203F;
    color: #fff;
  }
}
.burger-btn {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.burger-btn__stick {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #07203F;
}

.burger-btn.active {
  position: relative;
  padding: 10px 0;
}
.burger-btn.active .burger-btn__stick_top {
  position: absolute;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.burger-btn.active .burger-btn__stick_middle {
  display: none;
}
.burger-btn.active .burger-btn__stick_bottom {
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

@media screen and (width > 1023px) {
  .burger-btn {
    display: none;
  }
}
.header {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #07203F;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.hero__avatar {
  max-width: 400px;
  border-radius: 50%;
}
.hero__content {
  max-width: 540px;
}
.hero__title {
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-align: center;
}
.hero__description {
  font-size: 2.6rem;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: justify;
}
.hero__button {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #07203F;
  border-radius: 3rem;
  padding: 2rem 3rem;
  margin-inline: auto;
}

@media screen and (width > 1023px) {
  .hero__wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .hero__avatar {
    max-width: 500px;
  }
  .hero__title {
    font-size: 4.2rem;
    text-align: left;
  }
  .hero__description {
    font-size: 3rem;
    text-align: left;
  }
  .hero__button {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
