/* _reset.scss */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../../fonts/RobotoMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../fonts/RobotoMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../fonts/RobotoMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../fonts/RobotoMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../fonts/RobotoMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 10px;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #07203F;
}

.container {
  max-width: 117rem;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.nav {
  display: none;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.burger__stick {
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.header {
  height: 50px;
  background-color: #000;
  color: #fff;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
}
.header__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: clamp(1.4rem, 1.3888888889vw, 2rem);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, #fff, #07203F, #cc005f);
  background-size: 400% 400%;
  animation: move 6s ease infinite;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.social {
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.social .fa-brands, .social .fa-solid {
  color: #fff;
  font-size: 3rem;
  transition: color 0.3s ease;
}
.social .fa-brands:hover, .social .fa-solid:hover {
  color: #cc005f;
}

@media screen and (width > 690px) {
  .social {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .social__link {
    color: red;
  }
}
.hero {
  background: url("../images/hero-bg.jpg") center/cover no-repeat;
  height: calc(100vh - 50px);
  position: relative;
}
.hero:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.hero__wrapper {
  height: 100%;
  position: relative;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__subtitle {
  color: #cc005f;
  font-weight: 200;
  font-size: clamp(2rem, 1.5625vw, 3rem);
  margin-bottom: 1rem;
}
.hero__title {
  color: #fff;
  font-size: clamp(2.3rem, 2.6041666667vw, 5rem);
  margin-bottom: 2rem;
}
.hero__suptitle {
  color: #fff;
  font-weight: 100;
  font-size: clamp(2rem, 1.5625vw, 3rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.hero__sep {
  transform: rotate(90deg);
}
.hero__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 6rem;
  padding: 1rem 3rem;
  font-size: clamp(1.6rem, 1.0416666667vw, 2rem);
  font-weight: 200;
  color: #cc005f;
  border: 1px solid #cc005f;
}

@media screen and (width > 992px) {
  .hero__suptitle {
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 5rem;
  }
  .hero__sep {
    transform: none;
  }
  .hero__link {
    transition: color 0.5s ease, border-color 0.5s ease;
  }
  .hero__link:hover {
    color: #fff;
    border-color: #fff;
  }
}
@media screen and (width > 1200px) {
  .hero__suptitle {
    margin-bottom: 10rem;
  }
}
.tools__card {
  min-width: 29rem;
  height: 100%;
  border: 1px solid #cc005f;
  padding: 1rem;
  text-align: center;
}
.tools__card-top {
  margin-bottom: 3rem;
}
.tools__img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
}
.tools__title {
  font-size: clamp(1.6rem, 1.0416666667vw, 2rem);
  margin-bottom: 1rem;
}
.tools__line {
  width: 4rem;
  height: 0.1rem;
  background-color: #07203F;
  margin-inline: auto;
}
.tools__copy {
  font-size: clamp(1.4rem, 0.9375vw, 1.8rem);
}

.about {
  padding: 3rem 0;
}
.about__top {
  text-align: center;
  margin-bottom: 3rem;
}
.about__title {
  text-align: center;
  font-size: clamp(2rem, 2.0833333333vw, 4rem);
  margin-bottom: 3rem;
}
.about__img {
  max-width: 30rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.about__copy {
  max-width: 50rem;
  margin-inline: auto;
  font-size: clamp(1.6rem, 1.0416666667vw, 2rem);
  text-align: justify;
}
.about__suptitle {
  font-size: clamp(1.8rem, 1.5625vw, 3rem);
  text-align: center;
  margin-bottom: 3rem;
}

#file {
  color: red;
}

@media screen and (width > 690px) {
  .about {
    padding: 3rem 0;
  }
  .about__top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3rem;
  }
  .about__img {
    max-width: 35rem;
    margin-bottom: 3rem;
  }
  .about__copy {
    line-height: 1.5;
    text-align: left;
  }
}
@media screen and (width > 1200px) {
  .about {
    padding: 3rem 0;
  }
  .about__top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3rem;
  }
  .about__img {
    max-width: 40rem;
    margin-bottom: 3rem;
  }
  .about__copy {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
