.card {
  max-width: 33rem;
  padding: 10px;
  text-align: center;
  background-color: $white-color;
  color: $main-color;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &__img {
    width: 5rem;
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
  }
  &__description {
  }
}