@import 'logo';
@import 'nav';
@import 'burger';

.header {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid $main-color;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
