html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: $font_family;
  font-size: 1.6rem;
  font-weight: 400;
  color: $main-color;
}
.container {
  max-width: 117rem;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

