//colors
$main-white-color: #fff;
$main-black-color: #000;
$main-color: #07203F;
$second-color: #cc005f;

//fonts
$font_family: 'Roboto Mono', sans-serif;

// breakpoints:
$breakpoint_md: 768px;
$breakpoint_lg: 1150px;
$breakpoint_xl: 1440px;

// max-widths:
$max_widht_md: 690px;
$max_widht_lg: 768px;
$max_widht_xl: 1110px;

// heigths:
$heigth_header_xs: 50px;
$heigth_header_lg: 80px;